/*-- Header & Footer --*/

.header-container {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    padding: 20px;
    z-index: 3;
}

.menu-navigation {
    scroll-target-group: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.menu-navigation li {
    width: fit-content;
    height: fit-content;
}

.lk-nav{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
}

        /*-- Burger Menu --*/

.open-menu, .close-menu {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    transform-origin: center;
}

footer {
    font-weight: 200;
    text-align: center;
    padding: 12px;
}

/*--Supports --*/
@supports not (scroll-target-group: auto) {
    .menu-navigation li a.active, .menu-navigation li a:hover{
        color: var(--orange);
    }

    .menu-navigation li a.active {
        font-weight: bold;
    }
}

@supports (scroll-target-group: auto) {
    .menu-navigation li a:target-current , .menu-navigation li a:hover {
        color: var(--orange);
    }

    .menu-navigation li a:target-current {
        font-weight: bold;
    }
}

/*--Hero--*/

.hero-container {
    position: relative;
    display: flex;
    max-width: 1920px;
    min-height: 780px;
    height: 95dvh;
    max-height: 1280px;
    justify-content: space-evenly;
    align-items: center;
    gap: 28px;
    margin: auto;
    padding: 120px 80px;
    border-radius: 0 0 200px 0;
    background-color: var(--midnight-green);
    box-shadow: 0 0 40px rgba(0,0,0,.3);
}

.content-hero {
    width: 100%;
    max-width: 640px;
    min-width: 600px;
    height: 290px;
}

.pic-hero {
    display: block;
    width: 100%;
    max-width: 640px;
    height: auto;
    aspect-ratio: 1/1;
}

.perfil-img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    box-shadow: 0 3px 8px rgba(0,0,0,.28);
}

body.loaded .perfil-img {
    animation: slidein 3s linear infinite;
}

@keyframes slidein {
    0%,100% {
        transform: translateY(+5px);
    }

    50% {
        transform: translateY(-5px);
    }
}

/*-- Typography Hero --*/
h1 {
    font-size: clamp(1.5rem, 7vw , 2.5rem);
    overflow: hidden;
}

h1 strong {
    position: relative;
    display: inline-block;
    width: 11ch;
    color: var(--orange);
    font-size: clamp(2rem, 10vw, 3.5rem);
    text-shadow: 0 1px 2px var(--rich-black);
    overflow: hidden;
    white-space: nowrap;
}

h1 strong::after {
    content: "";
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--orange);
    animation: blink 0.8s step-end infinite;
}

body.loaded h1 strong {
    animation: typing 3s steps(14) forwards;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.content-hero h2 {
    font-weight: normal;
    font-style: italic;
    text-align: start;
}

.content-hero p {
    font-size: 1.2rem;
    width: 100%;
    margin: 8px 0 32px 0;
    font-weight: 100;
    text-shadow: 0 1px 2px var(--rich-black);
}

/*BTN Hero --*/

.social-media-hero {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.social-media ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.link-hero-container {
    position: relative;
    width: 100%;
    max-width: 228px;
    min-width: 200px;
    height: 52px;
}

#lk-c-hero {
    position: absolute;
    display: flex;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    inset: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--orange);
    background: transparent;
    border: 1px solid var(--orange);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.28);
    z-index: 1;
    transition: 0.2s ease-in-out;
}

.back-button {
    position: absolute;
    height: 52px;
    background-color: var(--orange);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
    inset: 0;
    border-radius: 5px;
    z-index: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.1s ease-in-out;
}

.link-hero-container.active #lk-c-hero {
    color: #fff;
    will-change: color;
}

.link-hero-container.active .back-button{
    transform: scaleX(1);
}

/*-- Medias Queries --*/

@media (max-width: 1280px) {
    .content-hero {
        max-width: 508px;
        min-width: 0px;
    }
    .pic-hero {
        max-width: 508px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .content-hero p {
        font-size: 1rem;
        margin: 8px 0 24px 0;
    } 
}

@media (max-width: 1024px) {
    .hero-container {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 36px;
        padding: 120px 40px 120px 40px;
    }

    .pic-hero {
        max-width: 372px;
    }

    .link-hero-container {
        max-width: 508px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }

    /*.content-hero, .content-hero h2 {
        text-align: center;
    }*/

}

@media (max-width: 600px) {

    /*-- Header --*/

    .menu-navigation {
        position: fixed;
        transform: translateX(100%);
        top: 0px;
        right: 0px;
        width: 80vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        background-color: var(--midnight-green);
        box-shadow: -4px 0px 10px var(--rich-black);       
        opacity: 0;
        pointer-events: none;
        transition: 0.5s ease;
        will-change: transform, opacity;
    }

    .menu-navigation.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .menu-navigation > * {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .menu-navigation > *:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 1px;
        background-color: #ccc;
    }

    .lk-nav{
        font-size: 1.2rem;
    }

    body.active {
        overflow: hidden;
    }

    body.active::after {
        content: '';
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        background-color: var(--rich-black);
        opacity: 0.8;
    }

    .open-menu.active, .close-menu.active {
        display: flex;
        transition: 0.2s;
    }

    .open-menu.active {
        animation: rotate-left 0.5s;
    }

    .close-menu.active {
        animation: rotate-right 0.5s;
    }

    @keyframes rotate-right {
        from {
            transform: rotate(45deg);
        }

        to {
            transform: rotate(90deg);
        }
    }

    @keyframes rotate-left {

        from {
            transform: rotate(45deg);
        }
        to {
            transform: rotate(0deg);
        }
        
    }

    /*-- Hero --*/

    .hero-container {
        height: auto;
        min-height: auto;
        padding: 120px 20px 120px 20px;
        border-radius: 0;
    }

    .content-hero {
        height: 100%;
    }

    .content-hero h2 {
        font-size: 1.5rem;
    }

}

@media (max-width: 320px) {
    /*-- Header --*/

    .menu-navigation {
        width: 100dvw;
    }

    /*-- Hero --*/
    .hero-container {
        padding: 80px 20px 80px 20px;
    }

    .content-hero h2 {
        font-size: 1.2rem;
    }

    .content-hero p {
        font-size: 0.9rem;
    }

}

@media (max-width: 300px) {
    .hero-container {
        padding: 40px 20px 80px 20px;
    }  
}